.glossary-contents {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.glossary-entryTitle {
  font-size: 1.9rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.glossary-entryDescription {
  margin: 0 0 20px;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.glossary-entryTitleLink {
  margin-right: 5px;
  position: absolute;
  left: -20px;
  padding-right: 5px;
}

.glossary-entryTitleLinkIcon {
  visibility: hidden;
  color: #777;
}

.glossary-entryTitleLink:hover .glossary-entryTitleLinkIcon {
  visibility: visible;
}

.glossary-entryTitle:hover .glossary-entryTitleLinkIcon {
  visibility: visible;
}

@media (max-width: 650px) {
  .glossary-contents {
    grid-template-columns: 1fr;
  }
}