.input {
  font-size: 1.7rem;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(80, 80, 80, 0.15);
  border: 1px solid #ddd;
  padding: 6px 8px;
  outline: none;
}

.input_error {
  border-color: var(--errorTextColor);
  box-shadow: none;
}

.form-label {
  font-size: 1.9rem;
}

.form-label_error {
  color: var(--errorTextColor);
}

@media (max-width: 650px) {
  .input {
    font-size: 2rem;
    padding: 7px 10px;
  }
}
