.standardPage {
  margin: var(--standardVerticalPadding) 0;
}

.standardPage-contentWithSideNav {
  --verticalMargins: 40px;
  --sideNavWidth: 250px;
  display: flex;
}

@media (max-width: 650px) {
  .standardPage-contentWithSideNav {
    --verticalMargins: 15px;
    display: block;
  }
}
