.panel {
  --panelVerticalPadding: 13px;
  --panelHorizontalPadding: 13px;

  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 2px #f6f6f6;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.panel-padding {
  padding: 13px 20px;
}

.panelContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.panel-header {
  margin: 0 0 10px;
}

.panel-headerLink {
  font-weight: 600;
  color: var(--fontColor);
  text-decoration: none;
  font-size: 2rem;
}

@media (max-width: 650px) {
  .panelContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
