.sideNav {
  --_sideNavWidth: var(--sideNavWidth, 300px);
  --_sideNavRightMargin: var(--sideNavRightMargin, 30px);

  margin: var(--verticalMargins) var(--_sideNavRightMargin)
    var(--verticalMargins) 0;
  max-width: var(--_sideNavWidth);
  min-width: 160px;
  flex: 1 1;
  font-size: 1.5rem;
}

.sideNav-header {
  margin: 0 0 15px;
  font-size: 1.9rem;
}

.sideNav-headerLink {
  color: #000;
  text-decoration: none;
}

.sideNav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sideNav-listItem {
  margin-bottom: 15px;
}

.sideNav-link {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 4px 0;
  border-radius: 3px;
}

.sideNav-link:hover {
  color: var(--accentColor);
}

.sideNav-link_active {
  color: var(--accentColor);
}

.sideNav-link_active:hover {
  color: var(--accentColor);
}

@media (max-width: 650px) {
  .sideNav {
    display: none;
  }
}
