/* Basic typography setup that applies to the whole app. */

html {
  font-size: var(--baseFontSize);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--fontColor);
  font-size: 1.6rem;
}

.heroText {
  font-size: 4rem;
  text-align: center;
  margin: 0 0 50px;
}

.primaryHeader {
  font-size: 3rem;
  margin: 0 0 15px;
  padding: 0;
}

.secondaryHeader {
  font-size: 2rem;
  margin: 0 0 15px;
  padding: 0;
}

.primaryHeader_centered {
  text-align: center;
}

.subheaderText {
  font-size: 1.7rem;
  padding: 0;
  margin: 0 0 15px;
}

.subheaderText_centered {
  text-align: center;
}

.appParagraph {
  max-width: 650px;
  font-size: 1.8rem;
  line-height: 3.1rem;
}

.centeredText {
  text-align: center;
}

.navBackLink {
  display: none;
  color: var(--accentColor);
  text-decoration: none;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.navBackLink-icon {
  padding-right: 5px;
}

@media (max-width: 650px) {
  .navBackLink {
    display: block;
  }

  .heroText {
    margin: 110px 0 50px;
  }
}
