/* Basic typography setup that applies to the whole app. */

html {
  font-size: var(--baseFontSize);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--fontColor);
  font-size: 1.6rem;
}