.compoundInterest {
  text-align: center;
  font-size: 1.6rem;
}

.compoundInterest-inputContainer {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
}

.compoundInterest-formRow {
  margin-bottom: 10px;
}

.compoundInterest-label {
  text-align: right;
}

.compoundInterest-result {
  margin-bottom: 10px;
  font-size: 1.6rem;
  height: 40px;
  line-height: 40px;
}
