.calculatorPage {
  margin: var(--verticalMargins) 0;
  flex: 2 2;
}

.calculatorPage-contentWithSideNav {
  --verticalMargins: 60px;
  --sideNavWidth: 200px;
  display: flex;
  padding: 0 var(--horizontalContentPadding);
}

.calculatorPage-contents {
  margin-bottom: 25px;
}

.calculatorPage-head {
  display: flex;
}

.calculatorPage .calculatorPage-head {
  /* This needs to match the spacing between the content and result */
  margin-bottom: 25px;
}

.calculatorPage-learnMoreIcon {
  margin-right: 5px;
}

.calculatorPage-learnMoreLink {
  margin-left: auto;
  text-decoration: none;
  color: var(--accentColor);
  background-color: var(--accentColor_light);
  border-radius: 5px;
  padding: 12px 15px;
}

.calculatorPage-landingPage {
  padding-left: var(--horizontalContentPadding);
  padding-right: var(--horizontalContentPadding);
}

.calculatorPage-calculator {
  padding: var(--panelVerticalPadding) var(--panelHorizontalPadding);
}

.calculatorPage-twoColumn {
  display: grid;
  grid-gap: 10px 15px;
  grid-template-columns: 1fr 1fr;
  max-width: 360px;
}

.calculatorPage .primaryHeader {
  /*
    We reduce the size of the header on calculators, since the main content of the page
    is the form
  */
  font-size: 2.6rem;
  margin-bottom: 0;
  margin-right: 15px;
}

.calculatorPage-label {
  grid-area: label;
}

.calculatorPage-input {
  grid-area: input;
}

.calculatorPage-errorMsg {
  grid-area: error;
  font-size: 1.5rem;
  color: var(--errorTextColor);
}

.calculatorPage-formRow {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-gap: 5px 15px;
  grid-template-areas:
    'label input'
    'error error';
}

@media (max-width: 650px) {
  .calculatorPage-formRow {
    grid-template-columns: 1fr;
    grid-template-areas:
      'label'
      'input'
      'error';
  }

  .calculatorPage .calculatorPage-head {
    margin-bottom: 25px;
    flex-direction: column;
  }

  .calculatorPage-learnMoreLink {
    margin-left: 0;
    margin-top: 10px;
    align-self: center;
  }

  .calculatorPage .primaryHeader {
    font-size: 2.4rem;
    margin-bottom: 0px;
  }

  .calculatorPage-contentWithSideNav {
    --verticalMargins: 15px;
    padding: 0 0 50px;
    display: block;
  }

  .calculatorPage-navBackLink,
  .calculatorPage-primaryHeader {
    padding: 0 var(--horizontalContentPadding);
  }

  .calculatorPage-contents {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .calculatorPage-calculator {
    margin-bottom: 25px;
    padding: 0 var(--horizontalContentPadding);
  }

  .calculatorPage-contentWithSideNav .standardPage-contentWithSideNavBody {
    padding: 0 var(--horizontalContentPadding);
    margin: var(--verticalMargins) 0;
  }
}
