.calculatorPage {
  margin: var(--verticalMargins) 0;
  flex: 2 2;
}

.calculatorPage-contentWithSideNav {
  --verticalMargins: 60px;
  --sideNavWidth: 200px;
  display: flex;
  padding: 0 var(--horizontalContentPadding);
}

.calculatorPage-contents {
  margin-bottom: 25px;
}

.calculatorPage-emojiResult {
  margin-right: 5px;
}

.calculatorPage-landingPage {
  padding-left: var(--horizontalContentPadding);
  padding-right: var(--horizontalContentPadding);
}

.calculatorPage-calculator {
  padding: var(--panelVerticalPadding) var(--panelHorizontalPadding);
}

.calculatorPage-twoColumn {
  display: grid;
  grid-gap: 10px 15px;
  grid-template-columns: 1fr 1fr;
  max-width: 360px;
}

.calculatorPage-result,
.calculatorPage-expandingResult {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 20px;
}

.calculatorPage-result {
  border-top: 1px solid #ddd;
}

.calculatorPage-resultText {
  font-size: 2rem;
  font-weight: bold;
}

.calculatorPage-viewResultsText {
  display: inline-block;
  margin-right: 5px;
}

.calculatorPage-viewResultsBtn {
  font-family: 'Source Sans Pro';
  background: transparent;
  border: none;
  font-weight: 600;
  color: var(--accentColor);
  padding: 0;
  margin: 0;
}

.calculatorPage-result:after {
  content: 'RESULT';
  position: absolute;
  top: 7px;
  left: 15px;
  color: #bbb;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.calculatorPage-expandingResult {
  border-top: 1px solid #ddd;
  font-size: 1.6rem;
  font-weight: normal;
}

.calculatorPage .primaryHeader {
  /*
    We reduce the size of the header on calculators, since the main content of the page
    is the form
  */
  font-size: 2.6rem;
  /* This needs to match the spacing between the content and result */
  margin-bottom: 25px;
}

.calculatorPage-label {
  grid-area: label;
}

.calculatorPage-input {
  grid-area: input;
}

.calculatorPage-errorMsg {
  grid-area: error;
  font-size: 1.5rem;
  color: var(--errorTextColor);
}

.calculatorPage-formRow {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 5px 15px;
  grid-template-areas:
    'label input'
    'error error';
}

.calculatorPage-shareResult {
  position: absolute;
  right: 15px;
  top: 3px;
}

.calculatorPage-shareResultBtn {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: var(--accentColor);
  font-weight: 600;
  font-size: 1.4rem;
  position: relative;
}

.calculatorPage-shareResultBtn:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.calculatorPage-shareResultIcon {
  display: inline-block;
  margin-right: 4px;
}

.calculatorPage-shareResultLink {
  position: absolute;
  top: 25px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  width: 320px;
  padding: 7px 10px;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #444;
  z-index: 11000;
}

.calculatorPage-shareResultInput {
  font-size: 1.4rem;
  color: #000;
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
}

@media (max-width: 650px) {
  .calculatorPage-formRow {
    grid-template-columns: 1fr;
    grid-template-areas:
      'label'
      'input'
      'error';
  }

  .calculatorPage .primaryHeader {
    font-size: 2.4rem;
    margin-bottom: 25px;
  }

  .calculatorPage-contentWithSideNav {
    --verticalMargins: 15px;
    padding: 0 0 50px;
    display: block;
  }

  .calculatorPage-navBackLink,
  .calculatorPage-primaryHeader {
    padding: 0 var(--horizontalContentPadding);
  }

  .calculatorPage-contents {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }

  .calculatorPage-calculator {
    margin-bottom: 25px;
    padding: 0 var(--horizontalContentPadding);
  }

  .calculatorPage-expandingResult {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
  }

  .calculatorPage-result {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 25px 20px;
  }

  .calculatorPage-resultText {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .calculatorPage-result:after {
    color: #aaa;
    left: 15px;
    /* This makes room for large number results */
    top: 3px;
    font-size: 1.5rem;
  }

  .calculatorPage-emojiResult {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .calculatorPage-shareResultLink {
    width: 90vw;
  }
}
