.calculatorPage {
  margin: var(--verticalMargins) 0;
  flex: 1;
}

.calculatorPage-contents {
  margin-bottom: 25px;
}

.calculatorPage-twoColumn {
  display: grid;
  grid-gap: 10px 15px;
  grid-template-columns: 1fr 1fr;
  max-width: 360px;
}

.calculatorPage-result,
.calculatorPage-expandingResult {
  text-align: center;
  position: relative;
  padding: 20px 20px;
}

.calculatorPage-result {
  font-size: 2rem;
  font-weight: bold;
}

.calculatorPage-result:after {
  content: 'RESULT';
  position: absolute;
  top: 7px;
  left: 7px;
  color: #bbb;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.calculatorPage-expandingResult {
  font-size: 1.6rem;
  font-weight: normal;
}
