.compoundInterest-inputContainer {
  display: grid;
  grid-gap: 40px 30px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.compoundInterest-formRow {
  margin-bottom: 10px;
}

.compoundInterest-label {
  font-size: 1.5rem;
  color: #b3b3b3;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.compoundInterest-input {
  border: 0;
  font-size: 3.1rem;
  font-weight: bold;
  cursor: text;
}

.compoundInterest-result {
  margin-bottom: 10px;
  font-size: 1.6rem;
}
