.calculatorPage-result,
.calculatorPage-expandingResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px 20px;
}

.calculatorPage-result {
  border-top: 1px solid #ddd;
}

.calculatorPage-result:after {
  content: 'RESULT';
  position: absolute;
  top: 7px;
  left: 15px;
  color: #bbb;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.calculatorPage-resultText {
  font-size: 2rem;
  font-weight: bold;
}

.calculatorPage-summaryText {
  color: #666;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
}

.calculatorPage-viewResultsText {
  display: inline-block;
  margin-right: 5px;
}

.calculatorPage-viewResultsBtn {
  font-family: 'Source Sans Pro';
  background: transparent;
  border: none;
  font-weight: 600;
  color: var(--accentColor);
  padding: 0;
  margin: 0;
}

.calculatorPage-expandingResult {
  border-top: 1px solid #ddd;
  font-size: 1.6rem;
  font-weight: normal;
}

.calculatorPage-emojiResultContainer {
  display: flex;
  align-items: center;
}

.calculatorPage-emojiResult {
  margin-right: 5px;
}

@media (max-width: 650px) {
  .calculatorPage-expandingResult {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
  }

  .calculatorPage-result {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 30px 20px;
  }

  .calculatorPage-resultText {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .calculatorPage-summaryText {
    margin-top: 15px;
    font-size: 1.6rem;
  }

  .calculatorPage-result:after {
    color: #aaa;
    left: 15px;
    /* This makes room for large number results */
    top: 3px;
    font-size: 1.5rem;
  }

  .calculatorPage-emojiResult {
    margin-right: 10px;
  }
}
