/* Reserve this file for CSS variables and attributes on #root */

/* Setup CSS variables here */
:root {
  --appWidth: 940px;
  --baseFontSize: 10px;
  --horizontalContentPadding: 10px;
  --fontColor: #222;
  --borderColor: #ddd;
  --accentColor: #c03078;
}

html,
body {
  height: 100%;
}

/* This is the root node of the React application */
#root {
  width: var(--appWidth);
  margin: 0 auto;
  min-height: 100%;
}
