/* Reserve this file for CSS variables and attributes on #root */

/* Setup CSS variables here */
:root {
  --appWidth: 940px;
  --baseFontSize: 10px;
  --horizontalContentPadding: 10px;
  --fontColor: #222;
  --borderColor: #ddd;
  --accentColor: #c03078;
}

html,
body {
  height: 100%;
}

/* This is the root node of the React application */
#root {
  max-width: var(--appWidth);
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'nav    content'
    'footer footer';
}
