/* Reserve this file for CSS variables and attributes on #root */

/* Setup CSS variables here */
:root {
  --maxAppWidth: 1024px;
  --baseFontSize: 10px;
  --horizontalContentPadding: 20px;
  --standardVerticalPadding: 60px;
  --fontColor: #222;
  --borderColor: #ddd;
  --accentColor: #4d97ff;
  --primaryLinkColor: #c45184;
  --backgroundColor: #fff;
}

@media (max-width: 650px) {
  :root {
    --standardVerticalPadding: 20px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--backgroundColor);
}

/* This is the root node of the React application */
#root {
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
