.app-header {
  padding: 50px;
}

.app-title {
  font-size: 3.1rem;
  font-weight: bold;
  max-width: var(--contentWidth);
  margin: 0 auto;
}

.app-body {
  margin: 0 auto;
  max-width: var(--contentWidth);
}