.footer {
  border-top: 1px solid #ddd;
}

.footerContent {
  font-size: 1.45rem;
  color: #999;
  padding: 20px var(--horizontalContentPadding);
  max-width: var(--maxAppWidth);
  margin: 0 auto;
}

@media (max-width: 650px) {
  .footer {
    display: none;
  }
}
