.header {
  --headerHeight: 50px;
  border-bottom: 1px solid var(--borderColor);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(122, 122, 122, 0.15);
}

.header-content {
  max-width: var(--maxAppWidth);
  padding: 0 var(--horizontalContentPadding);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 30px 0 0;
  padding: 0;
}

.header-titleLink {
  text-decoration: none;
  color: var(--fontColor);
}

@media (max-width: 650px) {
  .header-title {
    margin: 0 auto;
  }

  .header .nav {
    display: none;
  }
}
