.header {
  border-bottom: 1px solid var(--borderColor);
  background-color: #fafafa;
}

.header-content {
  max-width: var(--maxAppWidth);
  padding: 0 var(--horizontalContentPadding);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 30px 0 0;
  padding: 0;
}

.header-titleLink {
  padding: 5px;
  text-decoration: none;
  color: var(--fontColor);
}

@media (max-width: 650px) {
  .header-title {
    margin: 0 auto;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header .nav {
    display: none;
  }
}
