.nav {
  padding: 0 var(--horizontalContentPadding);
}

.nav_bottom {
  display: none;
}

.nav-navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-navListItem {
  font-weight: 600;
  margin-right: 30px;
}

.nav-navListItem:last-child {
  margin-right: 0;
}

.nav-navListLink {
  display: block;
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  color: #a0a0a0;
  font-size: 1.65rem;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
}

.nav-navListLink_active {
  color: var(--fontColor);
}

.nav-navListLink:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background: transparent;
}

.nav-navListLink:hover:after {
  background: #d4d4d4;
}

.nav-navListLink_active:after,
.nav-navListLink_active:hover:after {
  background: linear-gradient(45deg, #8000d4, #de474e);
}

.nav-navListLinkIcon {
  display: none;
}

.nav-navListLink_bottomLink {
  text-align: center;
}

@media (max-width: 650px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fafafa;
    height: 50px;
    border-top: 1px solid #ddd;
  }

  .nav_bottom {
    display: block;
  }

  .nav-navList {
    height: 100%;
    justify-content: space-between;
    align-content: center;
  }

  .nav-navListLink {
    font-size: 1.2rem;
    height: auto;
    line-height: normal;
    border-bottom: 0;
    color: #909090;
  }

  .nav-navListItem {
    display: flex;
    align-items: center;
  }

  .nav-navListLink_active,
  .nav-navListLink:hover {
    color: var(--accentColor);
  }

  .nav-navListLinkIcon {
    display: block;
    font-size: 24px;
  }

  .nav-navListLink:hover:after,
  .nav-navListLink_active:after,
  .nav-navListLink_active:hover:after {
    display: none;
  }
}
