.nav {
  padding: 0 var(--horizontalContentPadding);
}

.nav_bottom {
  display: none;
}

.nav-navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-navListItem {
  font-weight: 600;
  margin-right: 30px;
}

.nav-navListItem:last-child {
  margin-right: 0;
}

.nav-navListLink {
  display: block;
  height: var(--headerHeight);
  line-height: var(--headerHeight);
  color: var(--fontColor);
  font-size: 1.65rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 0 10px;
}

.nav-navListLink_active,
.nav-navListLink:hover {
  border-bottom-color: var(--accentColor);
}

@media (max-width: 650px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 50px;
    border-top: 1px solid #ddd;
  }

  .nav_bottom {
    display: block;
  }

  .nav-navList {
    height: 100%;
    justify-content: space-between;
    align-content: center;
  }

  .nav-navListLink {
    font-size: 1.4rem;
    height: auto;
    border-bottom: 0;
    line-height: 50px;
  }

  .nav-navListLink_active,
  .nav-navListLink:hover {
    color: var(--primaryLinkColor);
  }
}
